doctype html
html
    head
        meta(charset='utf8')
        link(href='config-panel.css' rel='stylesheet')
        link(href='style.css' rel='stylesheet')
        link(href='spots.css' rel='stylesheet')
        link(href='styles/scrimmage-slider.css' rel='stylesheet')
    body
        .field
            .field-inner
                .opposing-team
                    .endzone
                .play-area
                    .play-area-lines
                        .ten-yard(data-indicator='10')
                        .ten-yard(data-indicator='20')
                        .ten-yard(data-indicator='10')
                    .opposing-team
                        .no-run-zone
                        .play-zone
                    .current-team
                        .play-zone
                        .no-run-zone
                .current-team
                    .endzone

                input.scrimmage-slider(type="range" orient="vertical" value=22 autocomplete=off)
                // draws the relevant play lines
                .lines-layer
                    .lines-container
                        .line.blitz-line
                        .line.scrimmage-line

                // the container for the player positions
                .spots-layer

        .config-panel
            h1 Play Planner
            .edit-area
                .edit-row.play-title-container
                    input(id='playName' type='text' placeholder='Name of Play' autocomplete="off")
                .edit-row
                    label
                        span Show Play Lines
                        input(id='togglePlayLines' type='checkbox' autocomplete="off")
                .edit-row.no-selection
                    .description.no-selection Select a position to assign a role and route.
            .edit-area.selection
                .edit-row
                    label
                        span Position
                        input(id='spotPosition' type='text')
                .edit-row
                    label
                        span Route
                        select(id='spotRoute')
                            option(value='') No Route
                .edit-row
                    button.full-width.reset(id='spotReset') Reset Spot
            h2 Manage Play
            .edit-area
                .edit-row
                    button.half-width.reset(id='playReset') Reset Play
                    button.half-width.save(id='playSave') Save Play
            h2 Previous Plays
            .edit-area.plays-wrapper

        script(src='dist/bundle.js')
