doctype html
html
    head
        meta(charset='utf8')
        link(href='config-panel.css' rel='stylesheet')
        link(href='style.css' rel='stylesheet')
        link(href='spots.css' rel='stylesheet')
    body
        .field
            .field-inner
                .opposing-team
                    .endzone
                    .no-run-zone
                    .play-zone
                        .ten-yard
                .current-team
                    .play-zone
                        .ten-yard
                    .no-run-zone
                    .endzone
                .spots-layer

        .config-panel
            h1 Play Planner
            .edit-area
                .edit-row.play-title-container
                    input(id='playName' type='text' placeholder='Name of Play')
            .description.no-selection Select a position to assign a role and route.
            .edit-area.selection
                .edit-row
                    label
                        span Position
                        input(id='spotPosition' type='text')
                .edit-row
                    label
                        span Route
                        select(id='spotRoute')
                            option(value='') No Route
                .edit-row
                    button.full-width.reset(id='spotReset') Reset Spot
            h2 Manage Play
            .edit-area
                .edit-row
                    button.half-width.reset(id='playReset') Reset Play
                    button.half-width.save(id='playSave') Save Play
            h2 Previous Plays

        script(src='script.js')
