$fieldGrass: #47cf73;
$selectedSpot: #fffb00;
$fieldBorder: white;

$factor: 1.5;

$fieldWidth: 250px * $factor;
$fieldPadding: 30px * $factor;
$borderWidth: 2px * $factor;

$endzoneHeight: 100px * $factor;
$playzoneHeight: 200px * $factor;
$fiveYardHeight: 50px * $factor;
$tenYardHeight: 100px * $factor;
$noRunZoneHeight: 50px * $factor;
$noRunZoneMarkerLength: 5%;

@mixin center-text ($text, $color: $fieldBorder) {
  &:before {
    position: absolute;
    content: $text;
    color: $color;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

.field {
  padding: $fieldPadding;
  background: $fieldGrass;
  display: inline-block;

  .field-inner {
    width: $fieldWidth;
    border: $borderWidth solid $fieldBorder;
    position: relative;

    .spots-layer {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
    }

    .endzone {
      height: $endzoneHeight;
      position: relative;
      @include center-text('ENDZONE');
    }

    .play-zone {
      height: $playzoneHeight;

      .five-yard {
        height: $fiveYardHeight;
        border-bottom: $borderWidth dashed $fieldBorder;
      }

      .ten-yard {
        height: $tenYardHeight;
        border-bottom: $borderWidth dashed $fieldBorder;
      }
    }

    .no-run-zone {
      height: $noRunZoneHeight;
      position: relative;

      @include center-text('NO RUNNING');

      &:after {
        position: absolute;
        content: '';
        width: $noRunZoneMarkerLength;
        height: 100%;
        left: calc(50% - #{$noRunZoneMarkerLength / 2});
      }
    }

    .opposing-team {
      .endzone, .play-zone {
        border-bottom: $borderWidth solid $fieldBorder;
      }

      .no-run-zone:after {
        border-bottom: $borderWidth solid $fieldBorder;
      }
    }

    .current-team {
      .endzone {
        border-top: $borderWidth solid $fieldBorder;
      }

      .no-run-zone:after {
        border-top: $borderWidth solid $fieldBorder;
      }
    }
  }
}
