@import "variables/field_variables";

$resetColor: $opposingEndzoneColor;
$saveColor: $fieldGrass;

.config-panel {
  position: fixed;
  top: 0;
  left: $fieldWidth + (2 * $fieldPadding);
  padding: $fieldPadding;
  min-width: $fieldWidth + $fieldPadding;
  background: $configBoardBackground;

  @media (max-width: $mobileBreakpoint) {
    min-width: auto;
    width: 100%;

    position: static;

    &.has-selection {
      position: absolute;
      left: 0;
      top: 100%;
    }
  }

  h1 {
    margin-top: 0;
  }

  &.has-selection {
    .no-selection {
      display: none;
    }

    .selection {
      display: block;
    }
  }

  .edit-row, .play-row {
    margin-top: 20px;
    overflow: auto;

    label {
      display: block;
    }

    span {
      display: block;
      width: 40%;
      float: left;
    }

    input, select {
      display: block;
      width: 60%;
      float: left;
      margin: 0;
    }

    input[type='checkbox'] {
      width: auto;
    }

    button {
      border: none;
      padding: 5px;
      font-weight: bold;
      color: $fieldBorder;
      display: block;
      float: left;

      &.full-width {
        width: 100%;
      }

      &.half-width {
        width: 50%;
      }

      &.save {
        background: $saveColor;
      }

      &.reset {
        background: $resetColor;
      }
    }
  }

  .selection {
    display: none;
  }

  .play-title-container {
    display: flex;
    border: 1px solid black;

    input {
      height: 1.5rem;
      font-weight: bold;
      font-style: italic;
      flex: 1;
      border: none;
    }

    button {
      height: 1.5rem;
    }
  }
}

.plays-wrapper {
  .play-row {
    span {
      width: 50%;
    }

    .load-button, .remove-button {
      width: 25%;
    }
  }
}

.config-panel-title {
  font-size: 1.5rem;

  #football-image {
    display: inline-block;
    height: 1.5rem;
    width: auto;
    margin-right: 1rem;
    vertical-align: middle;
  }
}

.button-icon {
  height: 1rem;
  width: 1rem;
}
