@import "variables/field_variables";
@import "variables/helper_functions";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

.field {
  padding: $fieldPadding;
  background: $fieldGrass;
  display: inline-block;

  .field-inner {
    width: $fieldWidth;
    border: $borderWidth solid $fieldBorder;
    position: relative;

    .play-area {
      position: relative;

      .play-area-lines {
        position: absolute;
        height: 100%;
        width: 100%;
      }

      .five-yard {
        height: $fiveYardHeight;
        border-bottom: $borderWidth dashed $fieldBorder;
      }

      .ten-yard {
        height: $tenYardHeight;
        border-bottom: $borderWidth dashed $fieldBorder;
        position: relative;

        &:before {
          content: attr(data-indicator);

          position: absolute;
          font-weight: bold;
          font-size: 3rem;
          bottom: -2.5rem;
          color: $fieldBorder;
          font-family: serif;
          transform: rotate(90deg);
          letter-spacing: 1rem;
          opacity: 0.5;
        }
      }
    }

    .lines-layer {
      @include overlay-area();
    }

    .scrimmage-slider {
      height: 100%;
      position: absolute;
      right: -#{$fieldPadding/2};
      top: 0;
    }

    .lines-layer {
      overflow: hidden;

      &.hide {
        display: none;
      }

      .lines-container {
        position: absolute;
        width: 100%;

        .line {
          height: $borderWidth;
          border-width: $borderWidth;
          border-style: solid;
          position: relative;

          &.blitz-line {
            color: $teamEndzoneColor;
            margin-bottom: $blitzHeight;

            @include line-name('Blitz', $teamEndzoneColor);
          }

          &.scrimmage-line {
            color: $thumb-color;

            @include line-name('Scrimmage', $thumb-color);
          }
        }
      }
    }

    .endzone {
      height: $endzoneHeight;
      position: relative;
      @include center-text('ENDZONE');
    }

    .play-zone {
      height: $playzoneHeight;
    }

    .no-run-zone {
      height: $noRunZoneHeight;
      position: relative;

      @include center-text('NO RUNNING');

      &:after {
        position: absolute;
        content: '';
        width: $noRunZoneMarkerLength;
        height: 100%;
        left: calc(50% - #{$noRunZoneMarkerLength / 2});
      }
    }

    .opposing-team {
      .endzone {
        border-bottom: $borderWidth solid $fieldBorder;
        background: $opposingEndzoneColor;
      }

      .no-run-zone:after {
        border-bottom: $borderWidth solid $fieldBorder;
      }
    }

    .current-team {
      .endzone {
        border-top: $borderWidth solid $fieldBorder;
        background: $teamEndzoneColor;
      }

      .no-run-zone:after {
        border-top: $borderWidth solid $fieldBorder;
      }
    }
  }
}
